body {
  font-family: Arial, Verdana, sans-serif;
}

canvas {
  background-color: black;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.scrollbar {
  background-color: #2DFF3F;
  margin: 0;
  padding: 0;
}
